@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');


body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0;
    height: 100vh;
    font-family: Besley, serif;
    
}


.header,
.footer {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: grey;
    padding: 8px;
}

.header li {
    list-style: none;
    display: flex;
    flex: 1;
    
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.left, .right {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: nowrap;
}

a {
    text-decoration: none;
    color: grey;
}


.content {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.item {
    width: 60px;
    height: 60px;
    border: 4px solid darkslategray;
    background: skyblue;
}


.footer {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}